{% extends 'partials/base_auth.html'%}
{% load static %}
{% block content %}
<link href="{% static 'css/login2.css' %}"rel="stylesheet">
<div class="form">
 
<div class="login">

    <div class="img" >
        <div class="dha">
        <h2 >Don't have an account </h2>
        <button class="register"><a href="/auth/register" style="color : black;text-decoration: none;">Register</a></button>

    </div>
     </div>


    <div class="card ">
        <div class="card-body">
        <div class="card-title">
            <h4>Login</h4>
            {% include 'partials/messages.html' %}
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                
                <div class="form-group p-2">
                    <input  
                    type="text" 
                    name="username" 
                    placeholder="username"
                    class="form-control form-control-sm input"
                    id="usernameField"/>
                </div>

                <div class="form-group p-2">
                    <input 
                    type="password" 
                    name="password" 
                    placeholder="Password"
                    class="form-control form-control-sm input"
                    id="passwordField"
                    />
                 </div>
                 
        
                <div style="text-align: center; position:relative;">
                    <input type="submit" value="Login" class="btn btn-block btn-primary submit-btn" style=" width: 120px;padding: 10px; margin-top: 20px; margin-left:-320px" />
                    
                  </div>
            </form>
        </div>
        </div>
    </div>

</div>



  
 
{% endblock %}